@mixin lift($selector, $distance){

  $shadowColor: rgba(0,0,0,.8*$distance);
  $highlightColor: rgba(99,99,99, .8*$distance);
  $lowlightColor: rgba(9,9,9, .5);

   #{$selector} {
      // primary shadow, top highlight, bottom highlight
      // 18px is a lot to ask a CPU for but looks very nice
     box-shadow: 6px 6px 5px 6px $shadowColor, 10px 10px 8px 18px $shadowColor, 0px 1px 0px $highlightColor inset, 0px -1px 0px $lowlightColor inset;

    }
}
