@mixin heights () {

    $height-breakpoints: (
      xs: (media-width:    0px, delta:  0, height-ss: 15rem, height-xs: 30rem, height-sm: 50rem, height-md: 70rem, height-lg: 99rem, property: 'min-height'),
      sm: (media-width:  544px, delta:  0, height-ss: 15rem, height-xs: 30rem, height-sm: 50rem, height-md: 70rem, height-lg: 99rem, property: 'min-height'),
      md: (media-width:  768px, delta:  0, height-ss: 15rem, height-xs: 30rem, height-sm: 50rem, height-md: 70rem, height-lg: 99rem, property: 'height'),
      lg: (media-width: 1341px, delta:  0, height-ss: 15rem, height-xs: 30rem, height-sm: 50rem, height-md: 70rem, height-lg: 99rem, property: 'height'),
      xl: (media-width: 1748px, delta:  0, height-ss: 15rem, height-xs: 30rem, height-sm: 50rem, height-md: 70rem, height-lg: 99rem, property: 'height'),
      x2: (media-width: 2129px, delta:  0, height-ss: 15rem, height-xs: 30rem, height-sm: 50rem, height-md: 70rem, height-lg: 99rem, property: 'height'),
      x3: (media-width: 2384px, delta:  0, height-ss: 15rem, height-xs: 30rem, height-sm: 50rem, height-md: 70rem, height-lg: 99rem, property: 'height'),
      x4: (media-width: 2861px, delta:  0, height-ss: 15rem, height-xs: 30rem, height-sm: 50rem, height-md: 70rem, height-lg: 99rem, property: 'height'),
      x5: (media-width: 3814px, delta:  0, height-ss: 15rem, height-xs: 30rem, height-sm: 50rem, height-md: 70rem, height-lg: 99rem, property: 'height'),
      x6: (media-width: 6357px, delta:  0, height-ss: 15rem, height-xs: 30rem, height-sm: 50rem, height-md: 70rem, height-lg: 99rem, property: 'height'),
    ); // Delta value corrects for fluid-width anomalies, it works very well.

    @each $label, $map in $height-breakpoints {
      @media screen and (min-width: map-get($map, media-width)) {
        .height-ss { #{map-get($map, property)}: map-get($map, height-ss)+map-get($map, delta); overflow: auto; }
        .height-xs { #{map-get($map, property)}: map-get($map, height-xs)+map-get($map, delta); overflow: auto; }
        .height-sm { #{map-get($map, property)}: map-get($map, height-sm)+map-get($map, delta); overflow: auto; }
        .height-md { #{map-get($map, property)}: map-get($map, height-md)+map-get($map, delta); overflow: auto; }
        .height-lg { #{map-get($map, property)}: map-get($map, height-lg)+map-get($map, delta); overflow: auto; }
      }
    }








}
