@mixin outie($selector, $distance){
  $blur: 15px*$distance;
   #{$selector} {
     box-shadow: 0px 0px $blur 2px rgba(0, 0, 0, 0.3), 0px 1px 5px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px -1px 0px rgba(0, 0, 0, 0.3) inset;
   }
}
