@mixin margin ($selector, $value ) {
  #{$selector} {
    margin: $value;
  }
}

@mixin margin-top ($selector, $value ) {
  #{$selector} {
    margin-top: $value;
  }
}

@mixin margin-bottom ($selector, $value ) {
  #{$selector} {
    margin-bottom: $value;
  }
}

@mixin margin-left ($selector, $value ) {
  #{$selector} {
    margin-left: $value;
  }
}

@mixin margin-right ($selector, $value ) {
  #{$selector} {
    margin-right: $value;
  }
}
