@mixin padding ($selector, $value ) {
  #{$selector} {
    padding: $value;
  }
}

@mixin padding-top ($selector, $value ) {
  #{$selector} {
    padding-top: $value;
  }
}

@mixin padding-bottom ($selector, $value ) {
  #{$selector} {
    padding-bottom: $value;
  }
}

@mixin padding-left ($selector, $value ) {
  #{$selector} {
    padding-left: $value;
  }
}

@mixin padding-right ($selector, $value ) {
  #{$selector} {
    padding-right: $value;
  }
}
