@mixin innie($selector, $power){
  $blur: 50px*$power;
  $color: rgba(0,0,0, $power/.2);

   #{$selector} {
     box-shadow: 0px 0px $blur 2px $color inset;
     background: rgba(0, 0, 0, 0.1);
   }

}
