@mixin texture($selector, $texture, $gradient: false){
  #{$selector} {
      @if $gradient {
        background-image: url(~transparent-textures/patterns/#{$texture}.png), $gradient;
      } @else {
        background-image: url(~transparent-textures/patterns/#{$texture}.png);
      }
   }
}
