@mixin stripes ($selector, $stripe-width:1em, $stripe-color1: transparent, $stripe-color2: rgba(200, 200, 200, .1)) {
  #{$selector} {
    position: relative;
    z-index: 1;
    &:after{
      z-index: -1;
      content: "";
      position: absolute;
      pointer-events: none;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      background: transparent repeating-linear-gradient(45deg, $stripe-color1, $stripe-color1 $stripe-width, $stripe-color2 $stripe-width, $stripe-color2 ($stripe-width*2)) repeat scroll 0 0;
    }
  }
}
